.opjwefopfqweoewojojp{
    /* border: 3px solid seagreen; */
    display: flex;
    justify-content: center;
    height: 500px;
    /* margin: 0px 43px; */
    margin-top: 30px;
}

.coiowejiewje{
/* border: 3px solid seagreen; */
    width: 1000px;
    margin: 0px 43px;
}

.uihewfoiwehfoiwe{
/* border: 3px solid seagreen; */
margin: 0px 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
}

.ioweoifuweofwe{
    /* border: 1px solid pink; */
    height: 750px;
}

