.view-project-container {
    /* border: 1px solid green; */
    margin-left: 300px;
    margin-top: 28px;
}

.iojuioijoefwijo {
    width: 249px;
}

.wefwefwefew {
    /* border: 1px solid; */
    max-height: 50px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}

.i3hfeoihfoiefho {
    display: flex;
    justify-content: center;
}

.orgjrtopjgrpogjrpojrpojrtop {
    width: 1348px;
}

.view-project-head-gduiuewfguewifgeif {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 14px;
}

.view-project-head-tiewewft {
    font-size: 22px;
    color: white;
}

.view-project-head-butt {
    /* border: 1px solid; */
    font-size: 17px;
    padding: 14px 22px;
    background: green;
    color: white;
    cursor: pointer;
    font-weight: 300;
    border-radius: 4px;
}

.view-project-head-butt:hover {
    background: rgb(1, 95, 1);
}

.view-project-body {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;

}

.project-outline {
    width: 209px;
    height: 311px;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
    margin-left: 9px;
    margin-top: 9px;
    color: #ededed;
    background-color: #606060;

}

.project-outline:hover {
    background: #e8e8e8;
    color: black;
}



.project-grid-image {
    width: 100%;
    height: 78%;
}

.project-grid-info-cont {
    /* border: 2px solid #b7b7b7; */
    height: 57px;
    margin-top: -4px;
    border-radius: 0px 0px 4px 4px;
    padding: 5px;

}

.project-info {
    /* border: 1PX solid; */
    display: flex;
}

.project-info h1 {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    top: 4px;
    /* left: 3px; */
    padding-left: 3px;

}

.project-info-dat {
    margin: 0px;
    font-weight: 300;
    margin-top: 7px;
    font-size: 14px;
    padding-left: 2px;
}

.document-icon-project {
    color: green;
    font-size: 25px;
}

.project-view-popup-cont {
    /* border: 1px solid green; */
    /* width: 80%; */
    border-radius: 4px;
    background-color: #606060;
}

.popup-content {
    /* border: 1px solid green; */
    margin: 0px;
    background-color: rgba(27, 41, 57, 1);
    width: 733px;
}

[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}


.vsdfvdfvdf {
    overflow: scroll;
    max-height: 73vh;
}

.vsdfvdfvdf::-webkit-scrollbar {
    display: none;
}

.project-view-close {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 0px;
}

.project-popup-view-close {
    font-size: 53px;
    font-weight: 200;
    color: green;
    cursor: pointer;
    padding: 5px 6px;
}


.ohfoiwfhweoif {
    width: 100%;
}


.project-title-pop {
    font-size: 22px;
    font-weight: 300;
    color: white;
    padding-left: 16px;
}

.project-view-pop-cont {
    /* border: 3px solid green; */
    display: flex;
}

.pop-view-image {
    width: 245px;
    height: 310px;
    background: grey;
}


.pop-view-dets {}

@media screen and (max-width: 800px) {
    .view-project-container {
        margin-left: 100px;
    }
}