@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

html {

    margin: auto;
}


body {
    font-family: 'Roboto', sans-serif;

    background: #141b28;
}

body::-webkit-scrollbar {
    display: none;
}

time{
    max-width: 208px;
    /* overflow: hidden; */
    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}
.oeiwfhweiof {
    height: 237px;
}

.ewrfewrfewfwe {
    border-radius: 8px;
}

.ewegergregrgrege{
    /* border: 1px solid green; */
    height: 100px;
}

.ehfehiefhu {
    width: 153px;
    height: 63px;
    margin-top: 25px;
}

.ieufrhefw8h8efwefhw {
    display: flex;
    justify-content: center;
    align-items: center;
}


video {
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.ioewioeieoiooij{

        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
    
}

.fwehiefwiofewiowef{
    width: 600px;
    height: 300px;
}