@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

html {

    margin: auto;
}


body {
    font-family: 'Roboto', sans-serif;

    background: #141b28;
}

body::-webkit-scrollbar {
    display: none;
}

.oeiwfhweiof {
    height: 237px;
}

.ewrfewrfewfwe{
    border-radius: 8px;
}


.ieufrhefw8h8efwefhw{
        display: flex;
            justify-content: center;
            align-items: center;
}
